#dynamicVersionSelectorOverlay {

    z-index: 100;
    padding-top: 10px;

    position: relative;
    float: right;

}

#EditMeOnGitHub {
    display: inline !important;
    margin-bottom: 10px !important;

}

span.top-version {
    margin-right: 5px;
}

/** version button that links to fallback page (because current page
    not available for current version
 */
span.top-version-not-same-page a {
    background: darkgray!important;
}

/** version button that links to same page */
span.top-version-same-page a {
    font-weight: bold;
}

/** version button for current version */
span.top-version-current {
    font-weight: bold;

}

#top-version-more {
    padding: 2px;
    margin: 1px;
}